.wrapper{
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  box-sizing: border-box;
  border: solid 13px #000;
  overflow-y: scroll;
}

.title {
  color: #02ccba;
}